*
!pyproject.toml
!uv.lock
!src/
!src/**
!web/
!web/package.json
!web/package-lock.json
!web/src/
!web/src/**
!web/static/
!web/static/**
!web/svelte.config.js
!web/vite.config.ts
!web/tsconfig.json
**/__pycache__/
**/*.pyc
